@import 'config';

.consultation__container {
  .consultation {
    &__title {
      padding: 100px 24px;
      display: flex;
      gap: 35px;
      flex-direction: column;
      text-align: center;
      align-items: center;
      background: url('../images/consultation/consultation-header.png') 53.13%
          36.95% / cover no-repeat fixed,
        rgb(57, 60, 66);

      & h3 {
        font-size: 36px;
        font-family: 'Poppins';
      }

      & p {
        font-size: 19px;
        color: $color-secondary;
      }

      & button {
        width: fit-content;
      }
    }

    &__construction {
      padding: 100px 0 80px;

      &-header {
        display: flex;
        flex-direction: column;

        & h3 {
          padding: 0 24px;
          font-size: 26px;
          font-family: 'Poppins', sans-serif;
        }

        &-image {
          margin-top: 60px;
          padding: 0 30px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          & img {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            margin: 7.5px;
          }

          & p {
            margin: 7.5px;
            font-size: 19px;
            color: $color-secondary;

            & span {
              font-size: 14px;
            }
          }
        }
      }

      &-body {
        margin-top: 45px;
        padding: 0 24px;
        display: grid;
        grid-template-rows: 1fr;

        & article {
          padding: 25px 25px;
          background: $color-bg2;

          & h3 {
            font-size: 17px;
          }

          & p {
            margin-top: 20px;
            font-size: 17px;
          }
        }

        & article:not(:first-child) {
          margin-top: 50px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .consultation__container {
    .consultation {
      &__construction {
        &-header {
          flex-direction: row;

          & h3 {
            padding: 0 30px;
            font-size: 37px;
          }

          &-image {
            margin-top: 0;
          }
        }

        &-body {
          grid-template-columns: repeat(2, 1fr);

          & article:nth-child(2) {
            margin-top: 0;
          }

          & article {
            margin: 0 14px;
          }

          & article:not(:first-child, :nth-child(2)) {
            margin-top: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .consultation__container {
    .consultation {
      &__construction {
        &-body {
          grid-template-columns: repeat(3, 1fr);

          & article:nth-child(3) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
